<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FoundWorkingCopyPaths</key>
	<array>
		<string>/Users/andrewjgormley/Desktop/CPSC221/xcode/HOMEWORK1/HOMEWORK1</string>
	</array>
	<key>LastWorkingCopyScanDate</key>
	<date>2013-06-17T02:11:20Z</date>
	<key>MissingFilePaths</key>
	<array/>
	<key>Version</key>
	<integer>4</integer>
</dict>
</plist>
